Q-13. Write an SQL query to show only odd rows from aÂ table.

Ans: Select * from Worker where MOD(worker_id,2)=1;



Q-14. Write an SQL query to clone a new table from another table.

Ans: 

step 1) To create an empty table Worker_clone based on the definition of existing Worker table.Query is as follows:

Create table Worker_clone like Worker;

step 2)execute another SQL statement which inserts all the records from Worker table into Worker_clone table.

Insert into Worker_clone Select * from Worker;