Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

Ans: 
Select min(salary) from (select distinct(salary) from Employee order by salary desc) where rownum<6;

Q-20. Write an SQL query to fetch the list of employees with the same salary.

Ans: SELECT s1.emp_id,s1.first_name, s1.last_name, s1.salary
FROM Employee s1
INNER JOIN Employee s2 ON s1.salary = s2.salary AND s1.emp_id <> s2.emp_id